.discount_frm table tr td{ padding: 5px; border: 1px solid #e2e2e2; } 
.discount_frm input[type='submit']{ background: #e2e2e2; border: 0; padding: 10px 20px; border-radius: 10px; margin-top: 20px; }
.wap_message { margin-left: 0 !important; margin-top: 30px !important; }
.checkout .fee{ border-top: 2px solid #39414d; }
tr.wpa_payment_tr td{ padding:10px; }
.discount-amount input[type='submit']{background: #2271b1; border-color: #2271b1; color: #fff; text-decoration: none; text-shadow: none; font-size: 13px; line-height: 2.15384615; min-height: 30px; margin-top: 20px; padding: 0 10px; cursor: pointer; border-width: 1px; border-style: solid; -webkit-appearance: none; border-radius: 3px; white-space: nowrap; box-sizing: border-box; }
.discount-amount th{
	text-align: left;
    line-height: 1.3;
    font-weight: 600;
    font-size: 14px;
	width: 200px;
    padding: 0px 10px 0px 0;
}
.check-status{ margin-left:10px !important; }